<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Users</span>
            </div>


            <ul class="list-group" id="contact-list" ng-repeat="user in users track by $index">
                <li class="list-group-item">
                    <div class="col-xs-12 col-md-3">
                        <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <span class="name">Scott Stevens</span><br/>
                        <span> <span class="text-muted">scott.stevens@example.com</span><br/></span>
                        <span class="pull-right"><button type="button" class="btn btn-primary">Invite</button><br></span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>

        </div>
    </div>
</div>



